---
import styles from './header.module.css'
---

<header class={styles.header}>
    <div class='container'>
        <nav class={styles.nav}>
            <img class={styles.logo} src="./../public/logo.png" alt="">
            <ul class={styles.contacts__list}>
                <li class={styles.contacts__link}>
                    <a href="https://t.me/otzivremotehelp">
                        Отзывы
                    </a>
                </li>
                <li class={styles.contacts__link}>
                    <a href="https://t.me/helpremotepc">
                        <img src="../../public/icons8-whatsapp.svg" alt="">
                        Whatsapp
                    </a>
                </li>
                <li class={styles.contacts__link}>
                    <a href="https://t.me/helpremotepc">
                        <img src="../../public/icons8-telegram-app.svg" alt="">
                        Telegram
                    </a>
                </li>
                <li class={styles.contacts__link}>
                    <a href="https://vk.com/maxkotov133769">
                        <img src="../../public/icons8-vk-com.svg" alt="">
                        ВКонтакте
                    </a>
                </li>
                <li class={styles.contacts__link}>
                    <a href="https://instagram.com/max.k9669">
                        <img src="../../public/icons8-instagram.svg" alt="">
                        Instagram
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>